## chap. 02 딕셔너리와 반복문

In [2]:
# 딕셔너리 선언 : {키:값, ... },  리스트 [ 값,... ]
dict_a = { 'name':'홍길동', 'age' : 30}

print(dict_a)
print(type(dict_a))

{'name': '홍길동', 'age': 30}
<class 'dict'>

In [4]:
name = '키'

In [5]:
dict_b = {name:10}

In [6]:
dict_b

{'키': 10}

In [7]:
# 딕셔너리에 값 추가 / 제거 하기 : 딕셔너리[키] = 값
# 삭제는  del 딕셔너리[키]
dict_a['title'] = '딕셔너리'
dict_a

{'name': '홍길동', 'age': 30, 'title': '딕셔너리'}

In [8]:
del dict_a['name']
dict_a

{'age': 30, 'title': '딕셔너리'}

In [ ]:
# list_a = []
# list_a.append()

# dict_c = {}
# dict_c['키'] = 값

In [22]:
# 키보드에서 이름과 성적을 입력 받아 이름을 키로 성적을 값으로 딕셔너리에 저장
# 이름에 'q' 가 입력되면 입력 종류
# 저장된 자료를 출력
score_dict = {}
while True:
    name = input("이름 입력 : ")
    if name == 'q':
        print("입력 종료")
        break
    score = int(input("정수 입력 :"))
    score_dict[name] = score

print(score_dict)

이름 입력 : 홍길동
정수 입력 :100
이름 입력 : 김철수
정수 입력 :90
이름 입력 : 개나리
정수 입력 :88
이름 입력 : 진달래
정수 입력 :99
이름 입력 : q
입력 종료
{'홍길동': 100, '김철수': 90, '개나리': 88, '진달래 ': 99}

In [25]:
# 검색하고자 하는 이름을 입력 받아 입력된 자료에 존재하면 이름과 성적 출력
# 존재하지 않으면 '존재하지 않는 이름' 이라고 출력
search_name = input("검색하고자 하는 이름 입력 :")
if search_name in score_dict:
    print("{}의 성적은 {} 입니다 ".format(search_name, score_dict[search_name]))
else:
    print("{}의 자료는 없습니다".format(search_name))

검색하고자 하는 이름 입력 :이영희
이영희의 자료는 없습니다

In [27]:
# 키의 값이 있는지 확인하는 함수 : 딕셔너리.get(키) -> 값을 반환
search_name = input("검색하고자 하는 이름 입력 :")
value = score_dict.get(search_name)
if value:
    print("{}의 성적은 {} 입니다 ".format(search_name, value))
else:
    print("{}의 자료는 없습니다".format(search_name))

검색하고자 하는 이름 입력 :abcd
abcd의 자료는 없습니다

In [29]:
# for 반복문과 같이 사용 : for key in dict:
#  for문을 사용하여 딕셔너리의 자료 출력
for key in score_dict:
    print(f"{key} : {score_dict[key]}")
#     value = score_dict.get(key)
#     print(f"{key} : {value}")

홍길동 : 100
김철수 : 90
개나리 : 88
진달래  : 99

In [32]:
# 딕셔너리의 키와 값을 동시에 가져오는 함수 : 딕셔너리.items()
for key, value in score_dict.items():
    print(f"{key} : {value}")
# score_dict.keys()
score_dict.values()

홍길동 : 100
김철수 : 90
개나리 : 88
진달래  : 99

dict_values([100, 90, 88, 99])

In [33]:
# 이름과 국어, 영어, 수학 성적을 입력 받아 딕셔너리에 저장한 후
# srudents -> 이름, 국어, 영어, 수학 성적 , 이름을 키로 
students = {}
while True:
    name = input('이름 입력 :')
    if name == 'q':
        print("입력 종료 ")
        break
    scores = input(" 국어 영어 수학 성적 입력 (ex : 90 80 90)").split()
    if len(scores) !=3 :
        continue
    score_list = []
    for score in scores:
        score_list.append(int(score))
    students[name] = score_list
students

이름 입력 :aa
 국어 영어 수학 성적 입력 (ex : 90 80 90)90 80 70
이름 입력 :bb
 국어 영어 수학 성적 입력 (ex : 90 80 90)8
이름 입력 :bb
 국어 영어 수학 성적 입력 (ex : 90 80 90)80 99 88
이름 입력 :cc
 국어 영어 수학 성적 입력 (ex : 90 80 90)77 88 99
이름 입력 :q
입력 종료

{'aa': [90, 80, 70], 'bb ': [80, 99, 88], 'cc': [77, 88, 99]}

In [ ]:
# 학생별로 성적의 총합, 평균을 출력
 # 1. 딕셔너리의 자료를 가져와서 총합 평균 출력
print("{:6}{:6}{:6}".format('이름','총점','평균'))

for key, scores in students.items():
    total = 0  # 학생의 총점을 초기화
    for score in scores:   # 리스트의 각 점수를 가져 옴
        total += score   # 누적 합 구함
    print("{:6}{:6d}\t{:6.2f}".format(key,total, total/len(scores)))

In [102]:
# 전체 학생의 인원수, 과목별 평균을 구하세요
scores = students.values()
print(scores)
tot_score = [0,0,0]
for score in scores:
    idx = 0
    for sub_score in score:   # 각 과목별 평균을 구하기 위해 
        tot_score[idx] += sub_score
        idx += 1

dict_values([[90, 80, 70], [80, 99, 88], [77, 88, 99]])

In [101]:
students
tot_score = [0,0,0]
for key, scores in students.items():
    print(key, scores)
    for i, score in enumerate(scores):
        tot_score[i] += score

for tot in tot_score:
    print(tot/3)

{'aa': [90, 80, 70], 'bb ': [80, 99, 88], 'cc': [77, 88, 99]}

In [68]:
# 전체 학생의 인원수, 과목별 평균을 구하세요
scores = students.values()
tot_score = [0,0,0]
for score in scores:
    for idx,sub_score in enumerate(score):   # 인덱스와 값을 반환하는 함수
        tot_score[idx] += sub_score

'\nscores = students.values()\ntot_score = [0,0,0]\nfor score in scores:\n    for idx,sub_score in enumerate(score):   # 인덱스와 값을 반환하는 함수\n        tot_score[idx] += sub_score\n'

In [100]:
a = [10,20,30,40,50]
for i, score in enumerate(a):
    print(i, score, a[i])

0 10 10
1 20 20
2 30 30
3 40 40
4 50 50

In [67]:
# 각 과목별 평균 
print("학생수 : {}".format(len(students))) # 전체 학생수 : len(딕셔너리)
titles = ['국어', '영어', '수학']
for idx,tot in enumerate(tot_score):
    print("{} : {:3.2f}".format(titles[idx], tot/3), end='\t')

학생수 : 3
국어 : 82.33	영어 : 89.00	수학 : 85.67

In [21]:
# 키가 존재하는지 확인 : key in 딕셔너리 -> 딕셔너리의 키에 key 가 있는지 확인
print('a' in  score_dict) #  True 
print('name' in score_dict) #  False

True
False

In [11]:
# 215p 4번
nums = list(range(1,10))
print(nums)
# [[1,4,7],[2,5,8], [3,6,9]]
output = [[],[],[]]
for num in nums:
    output[num %3 -1].append(num)
print(output)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [19]:
# 259p 5번
nums = list(range(1,10)) 
print(nums)
for i in range(0, len(nums) // 2 + 1, 2):  # range(0,4)  -> 0, 1, 2, 3
    j = nums[i]
    print(f"i = {i}, j = {j}")    
    nums[j] = nums[j] ** 2
    
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
i = 0, j = 1
i = 2, j = 3
i = 4, j = 5
[1, 4, 3, 16, 5, 36, 7, 8, 9]

In [71]:
# 구구단을 range() 함수를 사용하여 구현
for dan in range(2,10):
    print(f"=== {dan} 단 === ")
    cnt = 1
    for num in range(1,10):
        if cnt < 3:
            print("{} * {} = {:2d}".format(dan, num, dan * num),end='\t')
            cnt += 1
        else:
            cnt = 1
            print("{} * {} = {:2d}".format(dan, num, dan * num))            
    print()

=== 2 단 ===
2 * 1 =  2	2 * 2 =  4	2 * 3 =  6
2 * 4 =  8	2 * 5 = 10	2 * 6 = 12
2 * 7 = 14	2 * 8 = 16	2 * 9 = 18

=== 3 단 ===
3 * 1 =  3	3 * 2 =  6	3 * 3 =  9
3 * 4 = 12	3 * 5 = 15	3 * 6 = 18
3 * 7 = 21	3 * 8 = 24	3 * 9 = 27

=== 4 단 ===
4 * 1 =  4	4 * 2 =  8	4 * 3 = 12
4 * 4 = 16	4 * 5 = 20	4 * 6 = 24
4 * 7 = 28	4 * 8 = 32	4 * 9 = 36

=== 5 단 ===
5 * 1 =  5	5 * 2 = 10	5 * 3 = 15
5 * 4 = 20	5 * 5 = 25	5 * 6 = 30
5 * 7 = 35	5 * 8 = 40	5 * 9 = 45

=== 6 단 ===
6 * 1 =  6	6 * 2 = 12	6 * 3 = 18
6 * 4 = 24	6 * 5 = 30	6 * 6 = 36
6 * 7 = 42	6 * 8 = 48	6 * 9 = 54

=== 7 단 ===
7 * 1 =  7	7 * 2 = 14	7 * 3 = 21
7 * 4 = 28	7 * 5 = 35	7 * 6 = 42
7 * 7 = 49	7 * 8 = 56	7 * 9 = 63

=== 8 단 ===
8 * 1 =  8	8 * 2 = 16	8 * 3 = 24
8 * 4 = 32	8 * 5 = 40	8 * 6 = 48
8 * 7 = 56	8 * 8 = 64	8 * 9 = 72

=== 9 단 ===
9 * 1 =  9	9 * 2 = 18	9 * 3 = 27
9 * 4 = 36	9 * 5 = 45	9 * 6 = 54
9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [94]:
# 0부터 100 까지의 수 중에서 5의 배수만 출력
# range() 함수 사용
line_cnt = 0
for i in range(0,101, 5):
    line_cnt += 1
    if line_cnt % 10 == 0:   # 한 라인에 10개씩 
        print(i)
    else:
        print(i,end='\t')
print()    
print()   
for line_cnt, i in enumerate(list(range(0,101, 5))):
    if (line_cnt+1) % 10 == 0:
        print(i)
    else:
        print(i,end='\t')

0	5	10
15	20	25
30	35	40
45	50	55
60	65	70
75	80	85
90	95	100


0	5	10	15	20	25	30	35	40	45
50	55	60	65	70	75	80	85	90	95
100

In [92]:
# 원 소스
num_list = [3,4,1,5,7]
for i in range(len(num_list)):
    print("{}번째 값 : {} ".format(i, num_list[i]))
print("enumerate 함수를 활용하여 위치 확인")
for i, value in enumerate(num_list):
    print("{}번째 값 : {} ".format(i, value))

0번째 값 : 3 	1번째 값 : 4
2번째 값 : 1 	3번째 값 : 5
4번째 값 : 7
enumerate 함수를 활용하여 위치 확인
0번째 값 : 3
1번째 값 : 4
2번째 값 : 1
3번째 값 : 5
4번째 값 : 7

In [ ]:
# 추가된 소스 : 한 라인에 두 개씩 출력 
num_list = [3,4,1,5,7]
for i in range(len(num_list)):
    if (i+1) % 2  == 0 : # 한 라인에 두 개씩 출력하기 위해 인덱스 나머지값 계산
        print("{}번째 값 : {} ".format(i, num_list[i]))
    else:
        print("{}번째 값 : {} ".format(i, num_list[i]), end='\t')        
print("\nenumerate 함수를 활용하여 위치 확인")
for i, value in enumerate(num_list):
    print("{}번째 값 : {} ".format(i, value))

In [108]:
dict_a = {
    'aa': [90, 80, 70], 
    'bb ': [80, 99, 88], 
    'cc': [77, 88, 99]}
print(dict_a.values())  # [[90, 80, 70], [80, 99, 88],[77, 88, 99]]

tot_score = [0, 0, 0]
for score in dict_a.values():
    print(score)
    idx = 0
    for i in score:
        tot_score[idx] += i
        print(f"{idx}:{tot_score[idx]}")
        idx += 1
        
# idx 대신 enumerate() 함수를 사용
tot_score = [0, 0, 0]
for score in dict_a.values():
    print(score)
    for idx, i in enumerate(score):
        tot_score[idx] += i
        print(f"{idx}:{tot_score[idx]}")

dict_values([[90, 80, 70], [80, 99, 88], [77, 88, 99]])
[90, 80, 70]
0:90
1:80
2:70
[80, 99, 88]
0:170
1:179
2:158
[77, 88, 99]
0:247
1:267
2:257
[90, 80, 70]
0:90
1:80
2:70
[80, 99, 88]
0:170
1:179
2:158
[77, 88, 99]
0:247
1:267
2:257

In [ ]:
# 1.키보드에서 이름을 입력 받아 'q'가 입력되면 입력 종료
#  아니면 국어 영어 점수를 입력받아 저장
#   입력 받은 점수의 갯수가 2가 아니거나 숫자가 아니면 다시 입력
# 2. 입력 종료 후 검색하고자 하는 이름을 입력 받아 
#   검색된 이름의 성적과, 총점, 평균 출력
# 3. 총 입력된 학생의 인원수 출력
# 4. 전체 학생의 성적의 합계를 기존의 자료에 추가
# 5. 최고점을 받은 학생의 정보 출력

In [131]:
# 1.키보드에서 이름을 입력 받아 'q'가 입력되면 입력 종료
#  아니면 국어 영어 점수를 입력받아 저장
#   입력 받은 점수의 갯수가 2가 아니거나 숫자가 아니면 다시 입력
students = {}
while True:
    name = input('이름 입력 :')
    if name == 'q':
        print("입력 종료 ")
        break
    
    if name in students:
        print("기 입력된 자료임 ")
        continue
        
    scores = input(" 국어 영어 성적 입력 (ex : 90 80 90)").split()
    score_list = []    
    for score in scores:
        if score.isnumeric():   # 입력한 자료가 숫자이면 정수로 형변환
            score_list.append(int(score))
        else:    #  입력한 자료가 정수가 아니면 변환 종료
            break
            
    if len(score_list) != 2 :  # 변환된 자료의 수가 2가 아니면 다시 입력
        continue
        
    students[name] = score_list  # 정상 입력된 자료는 딕셔너리에 추가

students

이름 입력 :aa
 국어 영어 성적 입력 (ex : 90 80 90)11 22
이름 입력 :bb
 국어 영어 성적 입력 (ex : 90 80 90)44 55
이름 입력 :cc
 국어 영어 성적 입력 (ex : 90 80 90)66 55
이름 입력 :dd
 국어 영어 성적 입력 (ex : 90 80 90)77 88
이름 입력 :ee
 국어 영어 성적 입력 (ex : 90 80 90)99 33
이름 입력 :q
입력 종료

{'aa': [11, 22],
 'bb': [44, 55],
 'cc': [66, 55],
 'dd': [77, 88],
 'ee': [99, 33]}

In [135]:
a = [3,4,5,6]
sum(a)

18

In [132]:
# 2 검색하고자 하는 이름 입력
s_name = input("검색 이름 : ")
if s_name in students:
    print(f'{s_name} ', end=': ')
    for score in students[s_name]:   # 검색된 이름의 값을 가져옴 -> 리스트
        print(f'{score}',end='\t')
    print("총점 : {}, 평균 : {:3.2f}".format(sum(students[s_name]),
                                        sum(students[s_name])/3))
else:
    print("자료 없음")
print()

검색 이름 : aa
aa : 11	22	총점 : 33, 평균 : 11.00

In [133]:
# 3. 총 입력된 학생의 인원수 출력
print("총 인원수 : {}".format(len(students)))
# 4. 전체 학생의 성적의 합계를 기존의 자료에 추가
for name, scores in students.items():
    students[name].append(sum(scores))
print(students)

총 인원수 : 5
{'aa': [11, 22, 33], 'bb': [44, 55, 99], 'cc': [66, 55, 121], 'dd': [77, 88, 165], 'ee': [99, 33, 132]}

In [134]:
# 5. 최고점을 받은 학생의 정보 출력
max_score = 0
max_name = ''
for name, scores in students.items():
    if max_score < scores[2]:
        max_score = scores[2]
        max_name = name

print("최고점 학생 : {}, 최고점 : {}".format(max_name, max_score))

최고점 학생 : dd, 최고점 : 165

In [ ]:
for i in range(5):
    print(i)

print()
for i in reversed(range(5)):
    print(i)

In [140]:
print()
list_a = [1,2,3,4,5]
for i in reversed(list_a):
    print(i)
print("-------------")   
list_r = reversed(list_a)
for i in list_r:
    print(i)    
print("-------------")  
for i in list_r:
    print(i)

5
4
3
2
1
-------------
5
4
3
2
1
-------------

In [141]:
# while 표현식 :  -> 표현식이 True이면 실행
i = 1
total = 0
while i < 11:
    total += i
    i +=1
print(total)

55

In [142]:
list_test = [1, 2, 1, 2]
value = 2
# list_test의 값에서 2를 제거
while value in list_test:
    list_test.remove(value)
print(list_test)

[1, 1]

In [161]:
list_news = ['q', '!', 'abd', 'def', '!']

In [162]:
# list_news 에서 숫자와 '!을 제거
while '!' in list_news:
    list_news.remove('!')
list_news

['q', 'abd', 'def']

In [167]:
remove_str = ['1','2','3','4']
for value in remove_str:
    while value in list_str:
        list_str.remove(value)

In [166]:
list_str = list('''
난해 기준 대전광역시 위원회 224개, 
위원수 3,178명과 충남도 211개 위원회, 3,242명입니''')

In [169]:
list_str1 = ''
for char in list_str:
    list_str1 += char
list_str1

'\n난해 기준 대전광역시 위원회 개, 위원수 ,78명과 충남도 개 위원회, ,명입니'

In [ ]:
# python 의 데이터 타입 : 문자, 숫자, 불리언
# 자료의 집합 : list -> [, ...], dictionary -> {키:값, ...}
# list[위치 인덱스],  dict[키]
# 자료 추가 -> list.append(요소), dict[키] = 값
# 자료 수정 -> list[위치인덱스] = 값,  dict[키] = 값
# 자료 삭제 -> list.pop(), list.remove(값), del list[위치 인덱스]
#    del dict[키]

# 반복문(for)과 같이 사용
# for value in list:  -> 리스트의 각 요소가 value로 저장됨
# for key in dict :  -> 딕셔너리의 키가 key로 저장됨

# for idx, value in enumerate(리스트) -> 위치(idx)와 값(value)이 저장됨
# for key, value in dict.items()  -> 키(key)와 값(value)이 저장됨

# dict.get(키) -> 값이 반환됨

# while True 조건인 경우 : 실행

# 반복문 탈출 키워드 -> break:반복문 탈출,  continue:반복문 조건식으로 이동

In [170]:
# 반복문에서 누적합 등을 구하고자 할 경우
# 초기화는 반복문 시작 전에
tot = 0
for i in range(11):
    tot += i
print("0부터 10까지의 합은 {}".format(tot))

0부터 10까지의 합은 55

In [171]:
while True:
    input_char = input("자료 입력 : q 또는 Q를 입력시 종료")
    if input_char in ['q', 'Q']:
        break
    if input_char == 'q' or input_char == 'Q'

자료 입력 : q 또는 Q를 입력시 종료a
자료 입력 : q 또는 Q를 입력시 종료v
자료 입력 : q 또는 Q를 입력시 종료b
자료 입력 : q 또는 Q를 입력시 종료Q

In [177]:
# time 모듈과 반복문 사용하기
import time

cnt = 0
t_time = time.time() + 3
while time.time() < t_time:
    cnt += 1
print("3초동안 {}번 실행".format(cnt))

3초동안 13112014번 실행

## chap4.4 문자열 리스트, 딕셔너리와 관련된 기본함수

In [179]:
# min(), max(), sum()
list_a = [10,30,40]
print(min(list_a))
print(max(list_a))
print(sum(list_a))

10
40
80

In [180]:
list_str = ['abcd', 'test', 'ke']
print(min(list_str))
print(max(list_str))
# print(sum(list_a))

abcd
test

In [ ]:
# 반복문을 사용한 리스트 생성
array = []
# 반복문을 사용하여 리스트 데이터 추가
for i in range(0,20,2):
    array.append(i*i)
print(array)

In [184]:
# 리스트 내포 : 리스트 선언안에 for문장 사용
# [ 표현식 for 반복자 in 반복할 수 있는 자료 ]
array_1 = [ i*i for i in range(0,20,2) ]
array_1

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [186]:
# 리스트 내포 : 리스트 선언안에 for문장 사용, 조건식과 같이 사용
# [ 표현식 for 반복자 in 반복할 수 있는 자료  if 조건문 ]
array_1 = [ i*i 
           for i in range(0,20)  
           if i %2 == 0]
array_1

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [190]:
# 문장이 길어질 때 () 하나의 문장으로 인식
number = int(input("정수 입력"))
if number % 2 == 0:
    print("입력한 문자열은 {}입니다\n"
          "{}는 짝수입니다"
          .format(number, number))

정수 입력2222
입력한 문자열은 2222입니다
2222는 짝수입니다

In [197]:
# 문자열.split() => space로 분리
# 리스트를 하나의 문자열로 전환
print(list_str)

# 리스트를 하나의 문자열로 연결 문자를 '-'
join_str = '::'.join(list_str)

['abcd', 'test', 'ke']

In [198]:
split_list = join_str.split('::')
split_list

['abcd', 'test', 'ke']